.app {
	min-height: 1000px;
	padding: 1em 0;
}
.wrapper {
	display: flex;
	font-size: 1em;
	-webkit-justify-content: space-between;
	        justify-content: space-between;
	padding: 1em 0;
	margin: 0 auto;
	max-width: 1199px;
	height: 60px;
	width: 100%;
}
.title.logo{
	align-self: center;
	font-size: 2.25em;
}
.btn-group {
	align-self: center;
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-justify-content: flex-end;
	        justify-content: flex-end;
}
.btn-group a {
	border-bottom: 3px solid transparent;
	color: #fff;
	font-size: 1.8em;
	margin: 0 .75em;
	padding: .25em 0 0;
	text-align: center;
	text-transform: uppercase;
}
.btn-group a:hover {
	cursor: pointer;
}
.btn-group a.active {
	color: rgba(118, 255, 3, 1);
	border-color: rgba(118, 255, 3, 1);
}