.wrapper {
	font-size: 1em;
	padding: 3em 0;
	margin: 0 auto;
	max-width: 1199px;
	width: 100%;
}

.btn-group {
	display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-justify-content: center;
	        justify-content: center;
}
.btn-group a {
	border-bottom: 3px solid transparent;
	color: #fff;
	font-size: 1.5em;
	margin: 0 1em;
	padding: .25em .0;
	text-align: center;
	text-transform: uppercase;
}
.btn-group a:hover {
	cursor: pointer;
}
.btn-group a.active {
	color: rgba(118, 255, 3, 1);
	border-color: rgba(118, 255, 3, 1);
}