<section class="exercise container">
	<div class="wrapper">
		<h1 class="title">
			{{title}}
		</h1>
		<div class="level-group">
			<a *ngFor="let level of levels" [class.active]="level.isSelected" (click)="selectLevel(level.num)">
				Level {{level.num}}
			</a>
		</div>
		<div class="question-group">
			<p class="message" style="height: 1em;">
				{{msg}}
			</p>
			<p class="question" style="letter-spacing: .15em; height: 1em;">
				{{question}}
			</p>
		</div>
		<div class="rows">
			<div *ngFor="let item of items; let i = index" class="row">
				<p class="character">
					<span *ngIf="item.text !== 'alphabet'">{{item.text}}</span>
				</p>
				<div class="dot-group" [class.focused]="item.pointer">
					<div class="col">
						<div id="dot-{{idx+1}}-{{i+1}}-1" class="field" [ngClass]="{'dot': item.dot1, 'focused': item.pointer}"></div>
						<div id="dot-{{idx+1}}-{{i+1}}-2" class="field" [ngClass]="{'dot': item.dot2, 'focused': item.pointer}"></div>
						<div id="dot-{{idx+1}}-{{i+1}}-3" class="field" [ngClass]="{'dot': item.dot3, 'focused': item.pointer}"></div>
					</div>
					<div class="col">
						<div id="dot-{{idx+1}}-{{i+1}}-4" class="field" [ngClass]="{'dot': item.dot4, 'focused': item.pointer}"></div>
						<div id="dot-{{idx+1}}-{{i+1}}-5" class="field" [ngClass]="{'dot': item.dot5, 'focused': item.pointer}"></div>
						<div id="dot-{{idx+1}}-{{i+1}}-6" class="field" [ngClass]="{'dot': item.dot6, 'focused': item.pointer}"></div>
					</div>
				</div>
				<div class="pointer" [class.focused]="item.pointer"></div>
			</div>
		</div>

		<div *ngIf="isPopup" class="modal">
			<p>
				Keep up the good work!
			</p>
			<a (click)="cleanPage()">
				Go Back
			</a>
		</div>
	</div>
	<div *ngIf="isPopup" class="modal-bg"></div>
</section>