<section class="home container">
	<div class="features">
		<h1 class="title">
			Need practice braille typing?
		</h1>
		<div class="desc">
			<p>
				Thank you for visiting our site. This site lets you practice braille typing in the most efficient manner.
			</p>
			<p>
				Now you're free from reaching out the braille paper just to know what you typed.
			</p>
			<p>
				Because "My Brailler" reads aloud for you.
			</p>
		</div>
	</div>
	<div class="features">
		<h2>
			CONTENTS
		</h2>
		<ol>
			<li>
				FREE TYPING: Enjoy free typing experience. Learn from your typos.
			</li>
			<li>
				EXERCISE: Series of questions challenge your skills.
			</li>
		</ol>
	</div>
	<div class="instructions">
		<h2>
			Braille font and keyboard layout
		</h2>
		<img src="assets/images/instructions.svg" alt="Braille font and hands on a keyboard">
	</div>
</section>