<section class="home container">
	<div class="features">
		<h1 class="title">
			Need practice braille typing?
		</h1>
		<div class="desc">
			<p>
				Thank you for visiting My Brailler. This site lets you practice braille typing in the most efficient manner.
			</p>
			<p>
				My Brailler is dedicated to typing beginners and intermediates;<br>It reads aloud every single letter you type. So you don't need to reach out the braille paper just to know what you typed.
			</p>
			<p>
				Enjoy!
			</p>
		</div>
	</div>
	<div class="features">
		<h2>
			CONTENTS
		</h2>
		<ol>
			<li>
				FREE TYPING: Offers you free typing experience. Make lots of typos and learn.
			</li>
			<li>
				EXERCISE: Series of questions challenge your skills.
			</li>
		</ol>
	</div>
	<div class="instructions">
		<h2>
			Keyboard layout and braille font
		</h2>
		<ul style="list-style: none;">
			<li>
				<span>F key</span>: Dot 1
			</li>
			<li>
				<span>D key</span>: Dot 2
			</li>
			<li>
				<span>S key</span>: Dot 3
			</li>
			<li>
				<span>J key</span>: Dot 4
			</li>
			<li>
				<span>K key</span>: Dot 5
			</li>
			<li>
				<span>L key</span>: Dot 6
			</li>
			<li>
				<span>delete key</span>: Delete previous dots
			</li>
			<li>
				<span>enter key</span>: Delete a full line (Enter the answer in exercise page)
			</li>
			<li>
				<span>alt key</span>: View cheatsheet (Available in free typing page)
			</li>
			<li>
				<span>space key</span>: Insert a space
			</li>

		</ul>

		<img src="assets/images/instructions.svg" alt="Braille font and hands on a keyboard">
	</div>
</section>