.home {
	margin: 0 auto;
	max-width: 959px;
	width: 100%;
}
.title {
	font-size: 2.5em;
}
h2 {
	font-size: 2em;
}
p, li {
	font-size: 1.5em;
	line-height: 1.5;
}
p {
	margin: 1em 0;
}
li {
	margin: .25em 0;
}
li span {
	color: #ff3b3b;
}
.features,
.instructions {
	padding: 2em 0;
}
.desc {
	padding: 2em 0 0;
}
.instructions img {
	display: block;
	margin: 3em auto;
}
.warning {
	background: #ff3b3b;
	border: 2px solid #fff;
	border-radius: 6px;
	color: #fff;
	padding: 0 1em;
	margin-bottom: 2em;
	text-align: center;
}
.warning a {
	display: block;
	font-size: 1.25em;
	margin-bottom: 1em;
}
.warning img {
	vertical-align: middle;
}