<section class="home container">
	<h1 class="title">
		Need practice braille typing?
	</h1>
	<div class="features">
		<p>
			Thank you for visiting our site. This site lets you practice braille typing in the most efficient manner.
		</p>
		<p>
			You don't need to reach out the paper anymore just to know what you typed.
		</p>
		<p>
			"My Brailler" reads aloud for you.
		</p>
	</div>
	<div class="features">
		<h2>
			FEATURE
		</h2>
		<p>
			You don't need to reach out the paper anymore just to know what you typed.
		</p>
	</div>
	<div class="features">
		<h2>
			CONTENTS
		</h2>
		<ol>
			<li>
				FREE TYPING: Enjoy free typing.
			</li>
			<li>
				EXERCISE: Series of questions challenge your skills.
			</li>
		</ol>
	</div>
	<div class="instructions">
		<h2>
			INSTRUCTIONS
		</h2>
		<p>
			Braille font and keyboard layout
		</p>
		<img src="assets/images/instructions.svg" alt="keyboard and hands">
	</div>
</section>