/* You can add global styles to this file, and also import other style files */
@import '~normalize.css/normalize.css';
h1, h2, p, a {
	color: #fff;
	font-family: "Helvetica", "Arial", sans-serif;
}
h1, h2, a {
	/*letter-spacing: .05em;*/
	letter-spacing: .1em;
}
a {
	cursor: pointer;
	text-decoration: none;
}
button {
	letter-spacing: .1em;
}
.container {
	padding: 1em .25em;
}
.title {
	font-size: 3em;
	text-align: center;
}
.character {
	font-family: "Courier New";
	font-size: 3.7em;
	height: 1.2em;
	margin: .1em 0 0;
	text-align: center;
}